/* base.css */
.wrap{
  max-width:1100px;
  margin:auto;
  padding:1rem;
}

/* header */
.site-header{
  background:white;
  border-bottom:1px solid #eee;
}

.site-footer {
  background: #003366;
  color: #fff;
  padding: 0.8rem 1rem;
  text-align: center;
  margin-top: 1rem;
}