@media (min-width: 701px) {
  .nav-list {
    display: flex; /* override mobile */
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    background: none;
    padding: 0;
  }

  #menu-btn {
    display: none; /* hide hamburger */
  }

  .directory.grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }

  .brand h1 { font-size: 1.1rem; }
}
